.html {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.app {
    display: flex;
    flex-direction: column;
    flex: auto;
    padding: 5px;
    background-color: rgb(241, 255, 255);
}